@import '../../style/theme.scss';



.chart-bar {
  z-index: 101;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding: 6rpx 24rpx 18rpx;
  display: flex;
  align-items: center;
  .chart-icon {
    width: 72rpx;
    height: 90rpx;
  }
  .summary {
    margin-left: 30rpx;
    flex: 1;
    display: flex;
    align-items: baseline;
    font-size: 22rpx;
    .price {
      font-size: 32rpx;
    }
  }
  .checkout-btn {
    width: 236rpx;
    height: 90rpx;
    border-radius: 8rpx;
    line-height: 90rpx;
    text-align: center;
    background-color: #E60012;
    color: #ffffff;
    font-size: 32rpx;
    &.disabled {
      background-color: #F7F7F7;
      color: #A6A6A6;
    }
  }
}

.cart-header {
  display: flex;
  justify-content: space-between;
  padding: 40rpx 40rpx 0;
  &__title {
    color: $text-color;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
  }
  &__clear-btn {
    font-size: $font-size-md;
    color: $gray-text-color;
  }
}
.order-list {
  box-sizing: border-box;
  width: 100vw;
  padding: 40rpx;
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 20rpx;
    padding-bottom: 20rpx;
    border-bottom: 1px solid #f1f1f1;
    gap: 20rpx;


    .pic {
      width: 120rpx;
      height: 120rpx;
    }
    .meta {
      flex: 1;
      .label {
        font-size: $font-size-lg;
      }
      .specs {
        font-size: 24rpx;
        color: #999;
        flex: 1;
      }

      .price {
        color: $danger-color;
        font-size: $font-size-md;
        display: flex;
        &::before {
         content: '￥'; 
        }
      }
    }


    .number {
      font-size: 35rpx;
      color: #e63948;
    }
  }
}